*~
bunjalloo/bld
bunjalloo/build
bunjalloo/bunjalloo
bunjalloo/ChangeLog*
bunjalloo/data/bunjalloo/cache
bunjalloo/data/bunjalloo/config.ini
bunjalloo/data/bunjalloo/fonts/simfang.img
bunjalloo/data/bunjalloo/fonts/simfang.map
bunjalloo/data/bunjalloo/fonts/simfang.pal
bunjalloo/data/bunjalloo/fonts/simfang.png
bunjalloo/data/bunjalloo/fonts/simfang.ttf.bmp
bunjalloo/data/bunjalloo/user/bookmarks.html
bunjalloo/data/bunjalloo/user/ckallow.lst
bunjalloo/data/bunjalloo/user/search.cfg
bunjalloo/docs
bunjalloo/issues.csv
bunjalloo/.sconf_temp
bunjalloo/tests/images/images
bunjalloo/tests/lang-test/lang-test
bunjalloo/tests/patch-test/patch-test*
bunjalloo/tools/simfang.img
bunjalloo/tools/simfang.map
bunjalloo/tools/simfang.pal
bunjalloo/tools/simfang.png
bunjalloo/tools/simfang.ttf.bmp
ChaosDS/common/snd/sounds.h
ChaosDS/tools/padprog
config.log
cscope.*
libndspp/bld
libndspp/docs
libndspp/.sconf_temp
*.nds
*.[oa]
*.pyc
.sconsign.dblite
*.swp
tags
