common/img/palette0/palette0.pal
common/img/palette1/palette1.pal
common/img/palette2/palette2.pal
common/img/palette3/palette3.pal
common/img/palette4/palette4.pal
common/img/palette5/palette5.pal
common/img/palette6/palette6.pal
common/img/palette7/palette7.pal
common/img/palette8/palette8.pal
common/img/palette9/palette9.pal
common/img/palettea/palettea.pal
common/img/paletteb/paletteb.pal
common/img/palettec/palettec.pal
common/img/palette0/build.ds
common/img/palette1/build.ds
common/img/palette2/build.ds
common/img/palette3/build.ds
common/img/palette4/build.ds
common/img/palette5/build.ds
common/img/palette6/build.ds
common/img/palette7/build.ds
common/img/palette8/build.ds
common/img/palette9/build.ds
common/img/palettea/build.ds
common/img/paletteb/build.ds
common/img/palettec/build.ds
common/img/palette0/build.sdl
common/img/palette1/build.sdl
common/img/palette2/build.sdl
common/img/palette3/build.sdl
common/img/palette4/build.sdl
common/img/palette5/build.sdl
common/img/palette6/build.sdl
common/img/palette7/build.sdl
common/img/palette8/build.sdl
common/img/palette9/build.sdl
common/img/palettea/build.sdl
common/img/paletteb/build.sdl
common/img/palettec/build.sdl
common/snd/build.ds
common/snd/build.sdl
common/snd/sounds.h
cscope.*
tags
tools/padprog
ChaosDS
ChaosDS.arm7
ChaosDS.arm9
ChaosDS.ds.gba
ChaosDS.nds
arm7/ChaosDS.arm7.elf
arm7/build
arm9/ChaosDS.arm9.elf
arm9/ChaosDS.exe
arm9/build.sdl
arm9/build
common/img/images.h
