.sconsign.dblite
build
bunjalloo*
cscope.*
tags
tests/cookies/tester
tests/document/tester
tests/element/tester
tests/gui-test/gui-test.nds
tests/images/images.nds
tests/images/images
tests/parameters/tester
tests/parser/tester
tests/uri/tester
tests/utf8/tester
walktree.pyc
data/bunjalloo/cache
