.sconsign.dblite
bld
build
bunjalloo*.*
cscope.*
tags
tests/*/tester
tests/gui-test/gui-test.nds
tests/images/images.nds
tests/images/images
tests/sprite/sprite.nds
data/bunjalloo/cache
docs/
tests/lang-test/lang-test
tests/lang-test/lang-test.nds
